<div id="navPartial">
    <ul class="nav justify-content-center">
        <li class="nav-item navButton">
            <a class="nav-link navItem" href="/">Home</a>
        </li>
        <li class="nav-item navButton">
            <a class="nav-link navItem" href="/playlists">Playlists</a>
        </li>
        <li class="nav-item navButton">
            <a class="nav-link navItem" href="/apiTest">Search</a>
        </li>
        <li class="nav-item navButton">
            <a class="nav-link navItem" href="/profile">Profile</a>
        </li>
        <li class="nav-item navButton">
            <a class="nav-link navItem" href="/logout">Logout</a>
        </li>
    </ul>
</div>