<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Document</title>
</head>

<body>
    <h1 id="title"> VYNL </h1>
    <%- include("partials/testnav.ejs") %>

        <div id="searchBody">
            <div id="searchDiv">
                <h2 class="searchDivItem">Search for a release</h2>

                <form action="/search-test" method="get">
                    <div class="searchDivItem">
                        <input class="searchInput" type="text" name="songName" placeholder="Song Name..."> <br>
                    </div>
                    <div class="searchDivItem">
                        <input class="searchInput" type="text" name="artistName" placeholder="Artist Name..."> <br>
                    </div>
                    <div class="searchDivItem">
                        <button class="searchButton" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include("partials/footer") %>
</body>

</html>