<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>API Test</h1>
    <p>Search for a release</p>

    <form action="/search-test" method="get">
        <input type="text" name="songName" placeholder="Song Name...">
        <input type="text" name="artistName" placeholder="Artist Name...">
        <button type="submit">Search</button>
    </form>
</body>

</html>