<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Document</title>
</head>
<body>

    <h1> VYNL </h1>
     <%- include("partials/nav.ejs") %>



</body>
</html>