<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Document</title>
</head>
<body>

    <h1 id="title"> VYNL </h1>
    <h3>Welcome, <%= name %></h3>
     <%- include("partials/nav.ejs") %>



</body>
</html>