<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Document</title>
</head>
<body>

    <h1 id="title"> VYNL </h1>
    <%- include("partials/testnav.ejs") %>

     <h3>Welcome, <%= name %></h3>



</body>
</html>