body {
    background: linear-gradient(270deg, red, black);
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

.resultsTop {
    text-align: center;
    font-weight: bolder;
}

.resultsTop h1 {
    margin-top: 10px;
}

.profilePageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profilePagePart {
    background-image: linear-gradient(red, darkred);
    border-radius: 30px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 4px black;
    width: 500px;
}

.profileBtns {
    background-image: linear-gradient(270deg, black, red);
    color: white;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 4px 4px black;
    cursor: pointer;
    margin-bottom: 5px;
}

.profileBtns:hover {
    color: red;
    text-shadow: 2px 2px 2px black;
}

#profileModal {
    border-radius: 15px;
    box-shadow: 0 5px 15px black;
    padding: 20px;
    background-image: linear-gradient(90deg, red, darkred);
    color: black;
    font-weight: bold;
    text-align: center;
}

.profileModalEntry {
    border-radius: 15px;
    background-image: linear-gradient(90deg, darkgray, darkred);
    box-shadow: 3px 5px 3px black;
    width: 400px;
}

.profileModalEntry input {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    background-color: lightgray;
}

.homeButtons {
    text-decoration: none;
    color: white;
}

.homeButtons:hover {
    color: red;
    text-shadow: 2px 2px 2px black;
}

.homeButtons:active {
    text-shadow: 4px 4px 4px black;
}

#searchBody {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchDiv {
    background: linear-gradient(red, black);
    padding: 40px 30px;
    padding-top: 20px;
    width: 380px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0 5px 25px white;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.searchDivItem {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.searchDivItem input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 4px black;
}

.searchDivItem button {
    background-image: linear-gradient(270deg, black, red);
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 4px 4px 4px black;
}

.searchDivItem button:hover {
    color: red;
    text-shadow: 2px 2px 2px black;
}

.searchDivItem button:active {
    background-image: linear-gradient(90deg, black, red);
    box-shadow: 2px 2px 2px black;
    text-shadow: 3px 3px 3px black;
}

#navPartial {
    color: black;
    border-bottom: black solid 5px;
    padding-bottom: 10px;
}

.navItem {
    color: white;
    background-image: linear-gradient(black, red);
    font-size: x-large;
    padding: 15;
    margin: 0 10px;
    border: black solid 1px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

.navButton :hover {
    color: red;
}

.navButton :active {
    text-shadow: 3px 3px 3px black;
    box-shadow: 1px 1px 1px black;
}

#title {
    text-align: center;
    font-size: 6.5em;
    color: black;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(64, 0, 0));
    background-clip: text; */
    font-weight: 850;
    font-style: italic;
    border-bottom: black solid 5px;
    margin: 10;
    text-shadow: 2px 2px 2px white;
}

#userBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

#userBox img {
    width: 230px;
    height: auto;
    border-radius: 8px;
}

.homeDiv {
    text-align: center;
    font-size: 2.0em;
    color: black;
    font-weight: 850;
    font-style: italic;
    margin: 10;
    text-shadow: 1px 1px 1px rgb(243, 128, 128);
}

#welcomeUser {
    text-align: center;
    font-size: 3.0em;
    color: black;
    font-weight: 850;
    font-style: italic;
    margin: 10;
    text-shadow: 2px 2px 2px white;
    border-bottom: 3px solid rgb(0, 0, 0);
}

#playlistcss {
    text-align: center;
    font-size: 3.0em;
    color: black;
    font-weight: 850;
    font-style: italic;
    margin: 10;
    text-shadow: 2px 2px 2px white;
}

#playlistcss2 {
    text-align: center;
    font-size: 1.9em;
    color: black;
    font-weight: 850;
    font-style: italic;
    margin: 10;
    text-shadow: 2px 2px 2px white;
}


.homeBtn {
    color: white;
    background-image: linear-gradient(black, red);
    font-size: x-large;
    padding: 15;
    margin: 0 10px;
    border: black solid 1px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

.homeBtn:Hover {
    color: red;
    text-shadow: 2px 2px 2px black;
}

#bar {
    background-color: black;
}

.loginText {
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: red;
}

.loginBody {
    background: linear-gradient(135deg, #000000, #6e6e6e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-box {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 18px;
    box-shadow: 0 5px 15px red;
    color: black;
}

.loginDiv {
    position: relative;
    width: 100%;
}

.loginDiv input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px gray;
}

.loginDiv input:focus {
    box-shadow: 1px 1px 1px gray;
}

.loginIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #38043b;
}

.btn-custom {
    background: #000000;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 3px gray;
}

.btn-custom:hover {
    background: #5e5e5e;
    box-shadow: 3px 3px 3px black;
}

.btn-outline-custom {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 2px gray;
}

#footer {
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: verdana;
    margin: 0;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.result-card {
    width: 200px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.result-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
    color: black;
}

.video-modal-content {
    position: relative;
    width: 80%;
    max-width: 900px;
    aspect-ratio: 16/9;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.video-close-btn {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}